    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Welcome</h2>
              <br/>
                <p>My name is Wiebe Marichael and I'm a 22 year old IT consultant from Belgium.
                This site will serve as a simple portfolio and personal page. Here you can find information about myself and my achievements.</p>
                <br/>
              </div>
        </div>
    </section>
