    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About myself</h2>
              <br/>
                <p>My name is Wiebe Marichael. I'm a 20 year old student from a little town in Belgium called Ruiselede. I will use this website as a personal page.</p>
                <p>The template I used for this site is brought to you by <a href="https://github.com/swcool">Shane Weng</a></p>
                <br/>
              </div>
        </div>
    </section>
