    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About myself</h2>
              <br/>
                <p>My name is Wiebe Marichael and I am a 20 year old student from Belgium. I'm a student Applied Informatics at HoGent University. At this moment I'm in my last year Mobile Applications.
                I grew up and still live together with my 2 younger brothers and my mother in Ruiselede.
                When I'm not working for school, I like to be with my family and friends or in the gym.</p>
                <br/>
              </div>
        </div>
    </section>
