<section id="personal">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About myself</h2>
                    <div class="lead">My name is Wiebe Marichael and I am a 21 year old student from Belgium. I'm a student Applied Informatics at University College Ghent. At this moment I'm in my last year Mobile Applications.<br/>
                    I grew up and still live together with my 2 younger brothers and my mother in Ruiselede. As a young kid all I was doing was going oiutside and play sports. During the last 5 years i grew a passion for web and native development.<br/>
                    Next to coding I also have a passion for fitness and surfing. I love to travel and to hang out with my friends.
                  </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/content/personal.jpg" alt="Picture of myself">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
</section>
<section id="personality" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>Personality</h2>
          <br/>
            <p>During the 3 years of my studies, I had to follow a course called iTalent. The main goal of this course was to get to know myself better.
            By taking several tests this course helped me discover my strengths and weaknesses. I believe this will help me when I apply for a job. Here you can find an overview of the tests I took. </p>
            <br/>
          </div>
    </div>
</section>
<section id="personality">
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="lead">
                      <ul>
                        <li>test1</li>
                        <li>test2</li>
                        <li>test3</li>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/content/pexels-personality.jpeg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
<section id="professional">
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><a href="https://github.com/goegefietst">Goe Gefietst</a></h2>
                    <div class="lead">During my internship at <a href="http://www.openknowledge.be">Open Knowledge Belgium</a> my colleague and I were given the challenge to design and implement an application. The app is meant to motivate the students in Ghent to move more by bike. It is a tracker app that collects data for the cyclist and the city.</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/content/pexels-professional.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>
